@import './base.css';

:root {
    --main-bg-color: #590d22;
    --dark-gray: #282829
    --gray: #4e4e50;
    --highlight-color: #a4133c;
    --accent-color: #ff4d6d;
    --dark-accent: #800f2f;
    --light-accent: #fff0f3;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
}