@import './base.css';

:root {
    --main-bg-color: #240046;
    --dark-accent: #3c096c;
    --highlight-color: #5a189a;
    --accent-color: #9d4edd;
    --light-accent: #f8ebff;
    --dark-gray: #28282a;
    --gray: #4e4e50;
    --light-gray: #F3F5F7;
    --light-bg-color: #f8f9fa;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
}
